.ctDashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 50px 0;
    position: relative;
}

.ctDashboard h2{
    font-size: var(--xl-font);
    margin: 0;
}

.ctDashboard p{
    margin: 0;
}

.ctChartTotalCountries{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--light-color);
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(var(--transparency-grey));
    position: absolute;
    right: 0;
    bottom: 0;
}

.ctChartTotalCountries h6{
    margin: 0;
}

.ctChartTotalCountries p{
    color: var(--blue-color);
    font-weight: bold;
    font-size: var(--m-font);
}