.btMain{
    border-radius: 10px;
    padding: 20px 40px;
    font-weight: bold;
}

.btFill{
    background-color: var(--blue-color);
    color: var(--light-color);
    border: none;
    
}

.btOutline{
    background-color: transparent;
    color: var(--grey-color);
    border: 1px solid var(--grey-color);
}