.ctFeatures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.ctText{
    width: 50%;
    margin: 50px;
}

.ctText h2{
    font-size: var(--l-font);
}

.ctCards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 780px) {
    .ctFeatures{
        margin: 10px;
    }
    .ctText{
        width: 90%;
        margin: 25px 10px;
    }
    .ctCards{
        flex-direction: column;
    }
}