.ctFooter{
    width: 100%;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
    padding: 50px;
}

.ctSectionCopyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    gap: 10px;
}

.ctSectionCopyright img{
    height: 100px;
    width: auto;
}

.ctSectionResources{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.ctResource{
    display: flex;
    flex-direction: column;
}

.ctResource a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--grey-color);
}

@media (max-width: 1024px) {
    .ctSectionCopyright{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}