@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --light-color: #E6F6FF;
  --blue-color: #1976D2;
  --green-color: #00897B;
  --grey-color: #455A64;
  --red-color: #BA1A1A;
  --transparency-grey: 55, 55, 55, 0.2;

}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

*{
  font-size: 16px;
  box-sizing: border-box;
}