@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --light-color: #E6F6FF;
  --blue-color: #1976D2;
  --green-color: #00897B;
  --grey-color: #455A64;
  --light-grey-color: #bbbbbb;
  --red-color: #BA1A1A;
  --black-color: rgb(0, 0, 0);
  --transparency-grey: 55, 55, 55, 0.2;
  --transparency-green: rgba(0, 137, 123, 0.15);

  --xs-font: 0.8rem;
  --s-font: 1.1rem;
  --m-font: 1.5rem;
  --l-font: 2rem;
  --xl-font: 2.5rem;

}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*{
  font-size: 16px;
  box-sizing: border-box;
}

p{
  color: var(--grey-color);
}